**/*.pyo
**/*.pyc
**/*.orig
**/*.pid
**/__pycache__
**/.eggs
.coverage
.idea
.DS_Store
.pytest_cache
.mypy_cache
.vim.custom
.ctags
*_local.py
venv/*
.vscode/
Makefile.local
build.env

htmlcov/

src/deps_documents/views/documentation/dist/specs.yaml

file-storage/output/
**/*.egg-info
.env
src/junit-report.xml
/src/pyrightconfig.json
